.home-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
app-carrusel {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
