<!-- form-change-password.component.html -->
<div class="form-wrapper-transparent">
  <h2 class="titleForm">{{ title }}</h2>

  <!-- 👇 OJO: agregamos #fg="ngForm" -->
  <form (ngSubmit)="save()" [formGroup]="form" #fg="ngForm" class="form-container">

    <!-- Contraseña actual -->
    <ion-item class="input-item" lines="none">
      <ion-label position="stacked">Contraseña actual</ion-label>
      <ion-input
        type="password"
        formControlName="currentPassword"
        placeholder="Ingresa tu contraseña actual">
      </ion-input>
    </ion-item>
    <ion-note color="danger"
              *ngIf="f.currentPassword.errors?.['required'] && (f.currentPassword.touched || fg.submitted)">
      La contraseña actual es obligatoria
    </ion-note>

    <!-- Nueva contraseña -->
    <ion-item class="input-item" lines="none">
      <ion-label position="stacked">Nueva contraseña</ion-label>
      <ion-input
        type="password"
        formControlName="newPassword"
        placeholder="Ingresa tu nueva contraseña">
      </ion-input>
    </ion-item>
    <ion-note color="danger"
              *ngIf="f.newPassword.errors?.['required'] && (f.newPassword.touched || fg.submitted)">
      La nueva contraseña es obligatoria
    </ion-note>
    <ion-note color="danger"
              *ngIf="f.newPassword.errors?.['passwordPolicy'] && (f.newPassword.touched || fg.submitted)">
      Debe tener al menos 6 caracteres y una mayúscula
    </ion-note>

    <!-- Confirmar nueva contraseña -->
    <ion-item class="input-item" lines="none">
      <ion-label position="stacked">Confirmar nueva contraseña</ion-label>
      <ion-input
        type="password"
        formControlName="confirmNewPassword"
        placeholder="Confirma tu nueva contraseña">
      </ion-input>
    </ion-item>
    <ion-note color="danger"
              *ngIf="f.confirmNewPassword.errors?.['required'] && (f.confirmNewPassword.touched || fg.submitted)">
      La confirmación es obligatoria
    </ion-note>
    <ion-note color="danger"
              *ngIf="form.hasError('passwordMismatch') && (f.confirmNewPassword.touched || fg.submitted)">
      Las contraseñas no coinciden
    </ion-note>

    <!-- Botones -->
    <div class="form-actions cont-botones">
      <app-button [text]="'Guardar'" [icon]="'save'" [type]="'submit'" [disabled]="form.invalid"></app-button>
      <app-button [text]="'Cancelar'" [icon]="'cancel'" [color]="'secondary'" [back]="true"></app-button>
    </div>
  </form>
</div>
