<swiper-container
  #swiperRef
  init="false"
  [attr.slides-per-view]="1"
  [attr.space-between]="10"
  [attr.pagination]="slides.length > 1 ? 'true' : null"
  [attr.navigation]="slides.length > 1 ? 'true' : null"
  [attr.autoplay-delay]="slides.length > 1 ? 4000 : null"
  [attr.loop]="slides.length > 1 ? 'true' : null"
  effect="fade"
  class="carrusel-container"
>
  <!-- solo si hay > 1 -->
  <swiper-slide *ngFor="let slide of slides">
    <div class="slide-content">
      <img [src]="slide.image" alt="Imagen del carrusel" />
      <div class="overlay-text">
        <h2>{{ slide.title }}</h2>
      </div>
    </div>
  </swiper-slide>
</swiper-container>
